/* Universal Settings*/

html{
    background-color:rgb(65, 64, 64);
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:rgba(255, 255, 255, 0.726)
}

a {
    text-decoration: none;
    color:aqua;
}

a:active, a:hover {
    text-decoration: underline;
}

a:visited {
    color:rgb(81, 178, 243);
}


/* Main Content*/

.content {
    display: flex;
    flex-direction: column;
}

/* Sign in prompt header*/

.sign-in {
    display: flex;
    justify-content: right;
    line-height: 4px;
    gap: 8px;
    margin: 0;
    padding: 8px;
}

.sign-in div{
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.sign-in button{
    width: 80px;
    height: 40px;
}

/* Content in centre of page*/

.center-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Login Form Container*/

.login-container{
    border-style: solid;
    border-color:  rgb(124, 124, 124);
    border-radius: 4px;
    border-width: 1px;
    background-color:rgb(37, 37, 37);
    padding: 16px;
    text-align: center;
}

.login-container form {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-label{
    flex: 1;
    font-size: 14px;
}